/*
COLOR PALLETE
 

*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.slideshow-container {
  width: 100%;
  overflow: hidden;
  position: relative; /* Make container relative for absolute positioning */
}

.slideshow {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.slide img {
  width: 100vw; /* Set width to the full viewport width */
  height: 100vh; /* Set height to the full viewport height */
  object-fit: cover; /* Ensure the image covers the entire slide without distorting */
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Style for the text over the slideshow */
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: bold;
  z-index: 2; /* Ensures the text appears above the images */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.h1 {
  font-size: 1000px;
  font-weight: bold;
}
